{% set pageConfig = {
    id: 00008,
    bodyClass: "chess-index",
    title: "中国象棋"
  }
%}
{% extends "../layout.njk" %}

{% block body %}
<div class="box" id="box" style="margin-top:10px;">
  <div class="chess_left">
    <canvas id="chess">对不起，您的浏览器不支持HTML5，请升级浏览器至IE9、firefox或者谷歌浏览器！</canvas>
    <audio  id="clickAudio" preload="auto"></audio>
    <!--<audio src="audio/check.wav" id="checkAudio" preload="auto"></audio>-->
    <audio  id="selectAudio" preload="auto"></audio>
    <div>
      <div class="bn_box" id="bnBox">
        <input type="button" name="offensivePlay" id="tyroPlay" value="菜鸟水平" />
        <input type="button" name="offensivePlay" id="superPlay" value="老鸟级别" />
                <!--<input type="button" name="button" id="" value="大师水平" disabled />

                <input type="button" name="offensivePlay" id="offensivePlay" value="先手开始" />
                <input type="button" name="defensivePlay" id="defensivePlay" value="后手开始" />
              -->
        <input type="button" name="regret" id="regretBn" value="悔棋" />
        <input type="button" name="billBn" id="billBn" value="棋谱" class="bn_box" />
        <input type="button" name="stypeBn" id="stypeBn" value="换个战场" />
      </div>
    </div>
  </div>
  <div class="chess_right" id="chessRight">
    <select name="billList" id="billList">
    </select>
    <ol id="billBox" class="bill_box">
    </ol>
  </div>
  <div id="moveInfo" class="move_info"> </div>
</div>

{% endblock %}
