{% set pageConfig = {
    id: 00001,
    bodyClass: "home-index",
    title: "北山－首页"
  }
%}
{% extends "../layout.njk" %}
{% block body %}
  <div class="header-tips">
    <h2>北山首页</h2>
  </div>
{% endblock %}
