<header class="header">
  <nav class="navigation">
    <ul class="header-lists">
      <li><a href="/">首页</a></li>
      <li><a href="/">诗词</a></li>
      <li><a href="/">象棋</a></li>
      <li><a href="/spring">美景</a></li>
    </ul>
  </nav>
</header>
