<header class="header">
  <nav class="navigation">
    <ul class="header-left">
      <li><a href="/spring">春</a></li>
      <li><a href="/summer">夏</a></li>
      <li><a href="/autumn">秋</a></li>
      <li><a href="/winter">冬</a></li>
    </ul>
    <ul class="header-lists">
      <li><a href="/">首页</a></li>
      <li><a href="/poem">诗词</a></li>
      <li><a href="/chess">象棋</a></li>
      <li><a href="/spring">美景</a></li>
    </ul>
  </nav>
</header>
